- var loginText = "Logga in"

template
    section.au-animate
        .row
            .col-sm-6.col-sm-offset-3
                h2= loginText
                form(submit.delegate="authorize()")
                    .row
                        .col-sm-12
                            .form-group
                                input.form-control(type="text" value.bind="username" placeholder="Användarnamn")
                        .col-sm-8
                            .form-group
                                input.form-control(type="password" value.bind="password" placeholder="Lösenord")
                        .col-sm-4
                            .form-group
                                button.btn.btn-primary.btn-block(type="submit")= loginText